{% comment %} TODO: pdf download link in presentation {% endcomment %}
{% comment %} TODO: powerpoint download link in presentation {% endcomment %}
{% comment %} TODO: marp safari bug {% endcomment %}
{% comment %} TODO: download all button! {% endcomment %}
{% comment %} TODO: tools in pages! {% endcomment %}
{% comment %} TODO: link ad altre risorse tipo classroom / moodle etc...? {% endcomment %}
{% comment %} TODO: sticky nav? {% endcomment %}
{% comment %} TODO: last modified date of each file {% endcomment %}

<!doctype html>
<html lang="en">
    <head>
        <title>{{ site.title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            rel="stylesheet"
            href="{{ '/_assets/style.css?v=' | append: site.github.build_revision | relative_url }}"
        >
        <link
            rel="stylesheet"
            href="{{ '/_assets/tailwind.css?v=' | append: site.github.build_revision | relative_url }}"
        >
    </head>
    <body class="prose m-0 max-w-full dark:fill-white">
        {% include navigation.liquid %}
        {% include search.liquid %}

        <div class="prose h-full max-w-full p-8 dark:prose-invert dark:bg-gray-950">
            <h1>{{ site.title }}</h1>
            {{ content }}
            <ul>
                {% for slide_deck in site.slides %}
                    <li>
                        {% assign basename = slide_deck.url | split: '/' | last | remove: '.html' %}

                        <a href="{{ site.baseurl }}/_html/{{ basename }}.html" target="_blank">{{ basename }}</a>
                        <a href="{{ site.baseurl }}/_html/{{ basename }}.pdf" target="_blank">[pdf]</a>
                        <a href="{{ site.baseurl }}/_html/{{ basename }}.ppt" download>[ppt]</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
